CompileFlags:
    Remove:
        [
            -fno-tree-switch-conversion,
            -fconcepts,
            -fno-shrink-wrap,
            -mtext-section-literals,
            -mlongcalls,
            -fstrict-volatile-bitfields,
        ]

Diagnostics:
    Suppress: attribute_section_invalid_for_target
